.forwidth{
    width: 300px;
}
.Rating_content{
    width: 500px;
    border-radius: 10px;
}
.yellowstar{
    width: 15px!important;
}
.ratingIMg{
    width: 55px;
    margin-right: .5rem;
}
.textHeight{
    line-height:1rem;
    margin-top: -.8rem;
}
.ReviewierName{
    color: 
    rgba(0, 0, 0, 1);
}
.OrderDetailImgWidth{
    width: 100px;
    height: 110px;
}
.OrderDetail_card{
    position: relative;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    width: 300px;
    /* height: 300px; */
    border-radius: 8px;
    padding: 18px;
}
.forBorderTop{
    border-top: 1px solid black;
}
.ForProductsHeight{
    height: 290px;
    overflow: auto;
}
.BasicInfo,.Shipping_Address,.Billing_Address{
    line-height: 10px;
}